<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="caps.ua.edu.materialdemo" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.MyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppThemeRegister"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".Activities.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
    </application>

</manifest>
